<%= form_with(model: root_table, local: true) do |f| %>
  <% if root_table.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(object_table.errors.count, "error") %> prohibited this root_table from being saved:</h2>

      <ul>
        <% root_table.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :guid %>
    <%= f.text_field :guid %>
  </div>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
