<p id="notice"><%= notice %></p>

<h1>Relassignmeasures</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @relassignmeasures.each do |relassignmeasure| %>
      <tr>
        <td><%= link_to 'Show', relassignmeasure %></td>
        <td><%= link_to 'Edit', edit_relassignmeasure_path(relassignmeasure) %></td>
        <td><%= link_to 'Destroy', relassignmeasure, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Relassignmeasure', new_relassignmeasure_path %>
