<p id="notice"><%= notice %></p>

<h1>Relassociates</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @relassociates.each do |relassociate| %>
      <tr>
        <td><%= link_to 'Show', relassociate %></td>
        <td><%= link_to 'Edit', edit_relassociate_path(relassociate) %></td>
        <td><%= link_to 'Destroy', relassociate, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Relassociate', new_relassociate_path %>
