<%= form_with(model: externaldocument, local: true) do |f| %>
  <% if externaldocument.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(externaldocument.errors.count, "error") %> prohibited this externaldocument from being saved:</h2>

      <ul>
        <% externaldocument.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
  <%= f.label :guid %>
  <%= f.text_field :guid %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
