<p id="notice"><%= notice %></p>

<h1>Objekte ohne Gruppenzuordnung</h1>

<table>
  <colgroup>
       <col span="1" style="width: 26%;">
       <col span="1" style="width: 5%;">
       <col span="1" style="width: 5%;">
       <col span="1" style="width: 13%;">
       <col span="1" style="width: 3%;">
       <col span="1" style="width: 3%;">
       <col span="1" style="width: 3%;">
       <col span="1" style="width: 10%;">
       <col span="1" style="width: 3%;">
       <col span="1" style="width: 15%;">
  </colgroup>
  <thead>
    <%#= <th>Guid</th> #%>
      <th>Name</th>
      <th>Versiondate</th>
      <th>Versionid</th>
      <th>Description</th>
      <th colspan="3">Actions</th>
      <th colspan="2">Collections</th>
      <th>Documents</th>
    <style>
      th, td {
      border: 1px solid black;
      }
    </style>
  </thead>

  <tbody>
    <% @no_groups.each do |root_table| %>
      <tr>
        <%#= <td><%= root_table.guid #%></td> 
        <td><%= root_table.name %></td>
        <td><%= root_table.versiondate %></td>
        <td><%= root_table.versionid %></td>
        <td><%= root_table.description %></td>
        <td><%= link_to 'Show', root_table_path(id: root_table.guid)  %></td>        
        <td><%= link_to 'Edit', edit_root_table_path(id: root_table.guid) %></td>
        <td><%= link_to 'Destroy', root_table_path(id: root_table.guid), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= root_table.collections %></td>
        <td><%= link_to 'Edit', edit_root_table_path(id: root_table.guid) %></td>
        <td><%= root_table.documents %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Back', root_tables_path %>
