<p id="notice"><%= notice %></p>

<h1>Typerelassociates</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @typerelassociates.each do |typerelassociate| %>
      <tr>
        <td><%= link_to 'Show', typerelassociate %></td>
        <td><%= link_to 'Edit', edit_typerelassociate_path(typerelassociate) %></td>
        <td><%= link_to 'Destroy', typerelassociate, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Typerelassociate', new_typerelassociate_path %>
